body{
    background-color : white;
}

h1 {
    color: white;
    font-size: 90px;
    font-weight: 600;
    text-align: center;
    border : 10px solid white;
    position : relative;
    top: 100px;
    width : 400px;
    margin: 0 auto;
  }
  #banner{
    background-image: url('https://img4.goodfon.com/original/3000x1875/9/e8/clownfish-ryba-kloun-rybki-akvarium.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width : 100%;
}

