h1{
    font-size: 90px; 
    text-align: center;
    color: black;
    
} 
h2{
    font-size : 60px;
    text-align: center;
    color: black;
}

#banner{
    background-image: url ('./pics/banner.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 500px;
    width : 100%;

}

#banner .content h1{
    border : 3px solid black;
    position : relative;
    top: 50px;
    width : 400px;
    margin: 0 auto;
}
